<launch>
        <param name="ROS_NAMESPACE" value="stereo" />
	<node name="camera_node" pkg="pgr_camera" type="pgr_camera_node" output="screen" cwd="node" args="--serials 13062807 13201007  13029237  --sync-serials 13062807 13029237">
		<remap from="/camera2/image_raw" to="/stereo/left/image_raw"/>
                <remap from="/camera2/camera_info" to="/stereo/left/camera_info"/>
		<remap from="/camera0/image_raw" to="/stereo/right/image_raw"/>
                <remap from="/camera0/camera_info" to="/stereo/right/camera_info"/>
	</node>
</launch>
