<launch>
        <param name="ROS_NAMESPACE" value="/stereo" />
	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" cwd="node">
		<param name="correlation_window_size" value="73"/>
		<param name="min_disparity" value="32"/>
		<param name="disparity_range" value="128"/>
		<param name="uniqueness_ratio" value="0"/>
		<param name="texture_threshold" value="50"/>
		<param name="speckle_size" value="27"/>
		<param name="speckle_range" value="3"/>
		<remap to="/left/image_raw" from="/stereo/left/image_raw"/>		
		<remap to="/right/image_raw" from="/stereo/right/image_raw"/>		
		<remap to="/left/camera_info" from="/stereo/left/camera_info"/>		
		<remap to="/right/camera_info" from="/stereo/right/camera_info"/>					
	</node>
</launch>
